body {
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  background: #f1f1f1;
}



/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  
  color: #f2f2f2;
  text-align: center;
  padding: 22px 16px;
  margin: 0,0;
  vertical-align: top;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.img-container {
  height: inherit;
  min-width: 100%;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
  color: rgb(77, 76, 80);
}

.centercolumn {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}
.home {
  display: block;
  height: 400px;
}
.notification {
  display: none;
}
.lenka,
.shivarkar {
  color: rgb(39, 2, 28);
  display: inline;
}

.mobile {
  font-style: normal;
}

.notification-text{
  display: inline-block;
  color: #f2f2f2;
  float: left;
  padding-left: 20px;
}